@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html{
    font-family: 'NanumSquare', sans-serif;
}
body{
    background-color: bisque;
}
#menu{
    background-color: gold;
}
#menu ul{
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
}
#menu ul li{
    float: left;
    width: 33%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color:gold;
}
#menu ul li a{
    display: block;
}
a:hover{
    color: slategray;
}
a{
    text-decoration: none;
    color: black;
}
